<nav>
  <ul>
    <li><a href="#Profil">Profil</a></li>
    <li><a href="#skills">Compétences</a></li>
    <li><a href="#Projets">Projets</a></li>
    <li><a href="#experience">Expériences</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<div class="bg-gray-100">
  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4 ">
      <nav class="flex items-center justify-between mb-40">
        <div
          class="px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md rounded-md hover:bg-gray-400 transition ease-linear duration-500 flex items-center justify-center">
          <mat-icon [ngStyle]="{'color':'black'}">list</mat-icon>
        </div>
        <button
          class="px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md rounded-md hover:bg-gray-700 hover:text-white transition ease-linear duration-500">
          Mon CV
        </button>
      </nav>
    </div>

    <div class="text-center">
      <div class="flex justify-center mb-16">
        <img class="monImage" src="/DSC_2250_temp.JPG" alt="Kylian Conraux" />
      </div>
      <h1 class="font-medium text-gray-600 text-lg md:text-2xl uppercase mb-8">Kylian Conraux</h1>
      <h2 class="font-normal text-gray-900 text-4xl md:text-7xl leading-none mb-8">Développeur Web</h2>
      <!--<p class="font-normal text-gray-600 text-md md:text-xl mb-16">Jeune développeur ...</p> Une accroche peut être-->
    </div>

  </section>

  <section id="Profil" class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Profil</h3>
      <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
        <p>Passionné par le développement logiciel, je cherche à mettre à profit ma formation en informatique (DUT) pour
          devenir développeur d'applications. Motivé par l'apprentissage continu et la résolution de défis techniques,
          je
          suis prêt à m'investir pleinement dans des projets innovants.</p>
      </div>
    </div>

  </section>

  <section id="skills" class="py-10 md:py-16">
    <div class=" container max-w-screen-xl mx-auto px-4">
      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Compétences</h3>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- Savoir-faire -->
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-600 text-xl md:text-2xl mb-5">Savoir-faire</h4>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Réaliser des études et développements informatiques.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Proposer des pistes d'amélioration des solutions.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Communiquer auprès des clients internes et externes.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Angular : compréhension des concepts fondamentaux appliqués dans des projets pratiques.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> HTML, CSS, JavaScript : développement front-end.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>PHP, MySQL : développement back-end et gestion de bases de données.</span>
            </li>
          </ul>
        </div>
        <!-- Savoir-être -->
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-600 text-xl md:text-2xl mb-5">Savoir-être</h4>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Autonomie.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Rigueur et précision.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Veille technologique.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Travail en équipe.</span>
            </li>
          </ul>
          <h3 class="mt-6 font-medium text-gray-600 text-lg">Langues</h3>
          <p class="mt-2 text-gray-700">Anglais - Courant</p>
        </div>
      </div>
    </div>
  </section>


  <section id="Projets" class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-6">Mes projets</h3>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div class="bg-gray-50 rounded-md shadow-md transform transition-all hover:scale-105">
          <img src="/AKPL_list.png" alt="AKPL_list" class="rounded-xl">
        </div>
        <div class="bg-gray-50 rounded-md shadow-md transform transition-all hover:scale-105">

          <img src="/vosgesPortage.png" alt="AKPL_list" class="rounded-xl">
        </div>
      </div>

    </div>

  </section>

  <section id="experience" class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">

      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-6">Expériences</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">02/2020 - 10/2020</h4>
          <h5 class="font-medium text-gray-600 text-lg mb-4">Développeur Android-Java à SOTEC :</h5>
          <p class="font-normal text-gray-500 text-md mb-4">J'ai développé une application mobile en
            Java destinée aux techniciens du bureau
            d'études.
            Cette application avait pour objectif de
            faciliter l'archivage et le tri des
            équipements info-comm présents dans
            les gares ferroviaires. Les informations
            collectées devaient ensuite être
            transmises au bureau d'études.</p>

        </div>
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">07/2024
            -
            10/2024</h4>
          <h5 class="font-medium text-gray-600 text-lg mb-4">Création et développement d’un
            site internet pour Croustillance :</h5>
          <p class="font-normal text-gray-500 text-md mb-4">Dans le cadre de la formation « Parcours
            vers les métiers du numérique », j'ai
            conçu et développé un site internet en
            équipe pour une entreprise de livraison
            de repas. Ce projet m'a permis de
            renforcer mes compétences en
            développement web, tant sur le
            front-end (HTML, CSS, JavaScript) que sur
            le back-end (PHP, MySQL). </p>

        </div>
      </div>
    </div>
  </section>


  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">

      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-6">Formations</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">2024 – 2025</h4>

          <p class="font-normal text-gray-500 text-md mb-4">Formation Développeur web et web mobile à Alaji, Epinal (En
            cours)</p>

        </div>

        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">2024</h4>

          <p class="font-normal text-gray-500 text-md mb-4">Parcours vers les métiers du numérique
            (Compétences de base).</p>

        </div>
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">2019</h4>

          <p class="font-normal text-gray-500 text-md mb-4">Bac+2 - D.U.T informatique</p>

        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <h2>Contact</h2>
      <p>Adresse : 147 Rue Edmond Michelet, 88130 Charmes</p>
      <p>Email : <a href="mailto:kylianconraux&#64;hotmail.fr">kylianconraux&#64;hotmail.fr</a></p>
      <p>Téléphone : <a href="tel:+33667751031">06 67 75 10 31</a></p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2025 Kylian Conraux. Tous droits réservés.</p>
    </div>
  </footer>

  <div class="mobile-prest hidden">
    <div style="min-height: 300vh;"
      class="relative flex flex-col px-4 pt-24 pb-12 font-sans text-gray-700 bg-gray-200 sm:px-6 lg:px-8">
      <div style="text-align:center;" class="flex-1 space-y-8">
        <div style="top: calc(1rem * 1);"
          class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
          <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
            <span class="block text-sm text-blue-700">DEĞERLERİMİZ</span>
          </h2>
          <p>
            <b>Qbicart</b> olarak, benimsediğimiz 5 adet değerimiz bulunmaktadır.
          </p>
        </div>
        <div style="top: calc(1rem * 2);"
          class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
          <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
            <span class="block text-sm text-red-700">İLHAM VERMEK</span>
          </h2>
          <p>
            İnsanın, yaşamı <b>hayal gücü</b> ve <b>yaratıcılıkla</b> yorumlamasına aracı oluruz.
          </p>
        </div>
        <div style="top: calc(1rem * 3);"
          class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
          <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
            <span class="block text-sm text-yellow-700">EKİP RUHU</span>
          </h2>
          <p>
            Her koşulda çözüm üretebilecek şevk ve çevikliğe sahip, birbirinden beslenerek büyüyen ve üreten dinamik bir
            topluluğuz!
          </p>
        </div>
        <div style="top: calc(1rem * 4);"
          class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
          <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
            <span class="block text-sm text-purple-700">ETKİ YARATMAK</span>
          </h2>
          <p>
            Öncülük ettiğimiz sanat hareketi ile <b>topluma ve geleceğe yön</b> veriyoruz.
          </p>
        </div>
        <div style="top: calc(1rem * 5);"
          class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
          <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
            <span class="block text-sm text-green-700">ERİŞEBİLİRLİK</span>
          </h2>
          <p>
            İnsanların sanat ile buluşmasının önündeki <b>engelleri ortadan kaldırıyoruz.</b>
          </p>
        </div>
        <div style="top: calc(1rem * 6);"
          class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg">
          <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
            <span class="block text-sm text-pink-700">İDEALİST OLMAK</span>
          </h2>
          <p>
            Doğaya ve tüm canlıların haklarına saygılı, <b>sanattan beslenen</b>, çeşitliliğin zenginliğe inanan,<b>
              üretken, aydınlık</b> ve <b>sürdürülebilir bir dünya</b> için çalışıyoruz.
          </p>
        </div>
      </div>
    </div>
  </div>


</div>
<router-outlet />