<!-- drawer component -->
<div id="drawer-navigation"
  class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800"
  tabindex="-1" aria-labelledby="drawer-navigation-label">
  <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu</h5>
  <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div class="py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      <li>
        <a href="#Profil"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
            <path
              d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
          </svg>
          <span class="ms-3">Profil</span>
        </a>
      </li>
      <li>
        <a href="#skills"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path
              d="M222-200 80-342l56-56 85 85 170-170 56 57-225 226Zm0-320L80-662l56-56 85 85 170-170 56 57-225 226Zm298 240v-80h360v80H520Zm0-320v-80h360v80H520Z" />
          </svg>

          <span class="flex-1 ms-3 whitespace-nowrap">Compétences</span>
        </a>
      </li>
      <li>
        <a href="#Projets"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path
              d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640H447l-80-80H160v480l96-320h684L837-217q-8 26-29.5 41.5T760-160H160Zm84-80h516l72-240H316l-72 240Zm0 0 72-240-72 240Zm-84-400v-80 80Z" />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Projets</span>
        </a>
      </li>
      <li>
        <a href="#experience"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path
              d="M160-200v-440 440-15 15Zm0 80q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v171q-18-13-38-22.5T800-508v-132H160v440h283q3 21 9 41t15 39H160Zm240-600h160v-80H400v80ZM720-40q-83 0-141.5-58.5T520-240q0-83 58.5-141.5T720-440q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40Zm20-208v-112h-40v128l86 86 28-28-74-74Z" />
          </svg> <span class="flex-1 ms-3 whitespace-nowrap">Expériences</span>
        </a>
      </li>
      <li>
        <a href="#contact"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path
              d="M480-400q33 0 56.5-23.5T560-480q0-33-23.5-56.5T480-560q-33 0-56.5 23.5T400-480q0 33 23.5 56.5T480-400ZM320-240h320v-23q0-24-13-44t-36-30q-26-11-53.5-17t-57.5-6q-30 0-57.5 6T369-337q-23 10-36 30t-13 44v23ZM720-80H240q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80Zm0-80v-446L526-800H240v640h480Zm-480 0v-640 640Z" />
          </svg> <span class="flex-1 ms-3 whitespace-nowrap">Contact</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="bg-gray-100">
  <div class="container max-w-screen-2xl mx-auto px-4 sticky top-10">
    <nav class="flex items-center justify-between mb-40">
      <a href="assets/kylian-conraux-CV.pdf" download="kylian-conraux-CV.pdf">
        <button
          class="shadow-lg px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md rounded-md hover:bg-gray-700 hover:text-white transition ease-linear duration-500">
          Mon CV
        </button>
      </a>
      <button data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
        data-drawer-toggle="drawer-navigation" aria-controls="drawer-navigation" type="button"
        class="shadow-lg px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md rounded-md hover:bg-gray-700 transition ease-linear duration-500 flex items-center justify-center group">
        <span class="sr-only">Open sidebar</span>
        <mat-icon class="w-6 h-6 text-gray-500 group-hover:text-white">menu</mat-icon>
      </button>
    </nav>
  </div>

  <section class="py-10 md:py-16">

    <div class="text-center">
      <div class="flex justify-center mb-16">
        <img class="monImage" src="assets/DSC_2250_temp.JPG" alt="Kylian Conraux" />
      </div>
      <h1 class="font-medium text-gray-600 text-lg md:text-2xl uppercase mb-8">Kylian Conraux</h1>
      <h2 class="font-normal text-gray-900 text-4xl md:text-7xl leading-none mb-8">Développeur Web</h2>
      <!--<p class="font-normal text-gray-600 text-md md:text-xl mb-16">Jeune développeur ...</p> Une accroche peut être-->
    </div>

  </section>

  <section id="Profil" class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Profil</h3>
      <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
        <p>Passionné par le développement logiciel, je cherche à mettre à profit ma formation en informatique (DUT) pour
          devenir développeur d'applications. Motivé par l'apprentissage continu et la résolution de défis techniques,
          je
          suis prêt à m'investir pleinement dans des projets innovants.</p>
      </div>
    </div>

  </section>

  <section id="skills" class="py-10 md:py-16">
    <div class=" container max-w-screen-xl mx-auto px-4">
      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Compétences</h3>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- Savoir-faire -->
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-600 text-xl md:text-2xl mb-5">Savoir-faire</h4>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Réaliser des études et développements informatiques.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Proposer des pistes d'amélioration des solutions.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Communiquer auprès des clients internes et externes.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Angular : compréhension des concepts fondamentaux appliqués dans des projets pratiques.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> HTML, CSS, JavaScript : développement front-end.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-blue-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>PHP, MySQL : développement back-end et gestion de bases de données.</span>
            </li>
          </ul>
        </div>
        <!-- Savoir-être -->
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-600 text-xl md:text-2xl mb-5">Savoir-être</h4>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Autonomie.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Rigueur et précision.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Veille technologique.</span>
            </li>
            <li class="flex items-center">
              <svg class="w-5 h-5 text-green-500 mr-3 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span> Travail en équipe.</span>
            </li>
          </ul>
          <h3 class="mt-6 font-medium text-gray-600 text-lg">Langues</h3>
          <p class="mt-2 text-gray-700">Anglais - Courant</p>
        </div>
      </div>
    </div>
  </section>

  <section id="Projets" class="py-10 md:py-16">
    <div class="text-center container mx-auto mb-8 relative z-1">
      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-6">Mes projets</h3>
    </div>

    <div class="space-y-6 container mx-auto -translate-y-24 pt-32">
      <div class="scroll-cards md:sticky" id="scroll-card-0"
        style="bottom:-0px;z-index:1;margin-left:0px;margin-right:0px">
        <div
          class="shadow-lg scroll-card-content grid grid-cols-1 bg-stone-50 items-center md:grid-cols-2 gap-6 border border-surface rounded-lg py-16 pr-12 p-2">
          <div class="row-start-1 p-6 px-10 ">
            <h4
              class="font-sans antialiased font-bold text-2xl md:text-3xl lg:text-4xl pb-3 text-black dark:text-white">
              Planner Arknights</h4>
            <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">Ce projet consiste en une application
              permettant de consulter une liste de personnages du jeu Arknights. </p>
            <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">Les utilisateurs peuvent non seulement
              parcourir la liste, mais aussi sélectionner un personnage pour calculer les ressources nécessaires à son
              amélioration.
            </p>
            <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">Ce projet allie passion et apprentissage
              technique. Il m'a permis de découvrir Angular et d'améliorer mes compétences en développement front-end.
            </p>
            <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">J'ai utilisé les technologies suivantes : Angular V19, Materials, Tailwind, ... </p>
          </div>
          <a href="" class="bg-gray-50 rounded-md shadow-md transform transition-all hover:scale-110"> <img
              src="assets/AKPL_list.png" alt="AKPL_list" class="rounded-xl"></a>
        </div>
      </div>
      <!-- bottom : -20 z-index : -1 margin : +15  -->
      <!-- md:sticky car sur les écrans de téléphone l'animation ne fonctionne pas comme prévu-->
      <div class="scroll-cards md:sticky" id="scroll-card-1"
        style="bottom:-120px;z-index:0;margin-left:15px;margin-right:15px">
        <div
          class="shadow-lg scroll-card-content grid grid-cols-1 bg-stone-50 items-center md:grid-cols-2 gap-12 border border-surface rounded-lg py-16 pr-12 p-2">
          <div class="row-start-1 p-6 px-10">
            <h4
              class="font-sans antialiased font-bold text-2xl md:text-3xl lg:text-4xl  pb-3 text-black dark:text-white">
              Vosges Portage</h4>
            <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">Vosges Portage est une plateforme
              proposant
              un service de portage de repas à domicile, conçu pour les personnes âgées ou en perte d'autonomie.</p>
            <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">Ce projet a été réalisé en équipe lors de
              la formation "Parcours vers les métiers
              du numérique".
            </p>
            <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">J'étais principalement responsable de la
              partie back-end, incluant la gestion des menus, des utilisateurs, des contacts ainsi que l'importations
              de fichiers tableurs.</p>
              <p class="font-sans antialiased mt-2 mb-6 text-lg text-stone-500">
              J'ai utilisé les technologies suivantes : PHP, MySQL, HTML, CSS, JavaScript, Form Validator, Sweet Alert2, maps Leaflet, ... 
              </p>
          </div>
          <a href="https://vosges-portage.fr/" class="bg-gray-50 rounded-md shadow-md transform transition-all hover:scale-110"><img
              src="assets/vosgesPortage.png" alt="AKPL_list" class="rounded-xl"></a>
        </div>
      </div>
    </div>
  </section>

  <section id="experience" class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">

      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-6">Expériences</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">02/2020 - 10/2020</h4>
          <h5 class="font-medium text-gray-600 text-lg mb-4">Développeur Android-Java à SOTEC :</h5>
          <p class="font-normal text-gray-500 text-md mb-4">J'ai développé une application mobile en
            Java destinée aux techniciens du bureau
            d'études.
            Cette application avait pour objectif de
            faciliter l'archivage et le tri des
            équipements info-comm présents dans
            les gares ferroviaires. Les informations
            collectées devaient ensuite être
            transmises au bureau d'études.</p>

        </div>
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">07/2024
            -
            10/2024</h4>
          <h5 class="font-medium text-gray-600 text-lg mb-4">Création et développement d’un
            site internet pour Croustillance :</h5>
          <p class="font-normal text-gray-500 text-md mb-4">Dans le cadre de la formation « Parcours
            vers les métiers du numérique », j'ai
            conçu et développé un site internet en
            équipe pour une entreprise de livraison
            de repas. Ce projet m'a permis de
            renforcer mes compétences en
            développement web, tant sur le
            front-end (HTML, CSS, JavaScript) que sur
            le back-end (PHP, MySQL). </p>

        </div>
      </div>
    </div>
  </section>


  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">

      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-6">Formations</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">2024 – 2025</h4>

          <p class="font-normal text-gray-500 text-md mb-4">Formation Développeur web et web mobile à Alaji, Epinal (En
            cours)</p>

        </div>

        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">2024</h4>

          <p class="font-normal text-gray-500 text-md mb-4">Parcours vers les métiers du numérique
            (Compétences de base).</p>

        </div>
        <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">2019</h4>

          <p class="font-normal text-gray-500 text-md mb-4">Bac+2 - D.U.T informatique</p>

        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <h3 class="font-medium text-gray-700 text-3xl md:text-4xl mb-6">Contact</h3>
      <div class="bg-gray-50 px-8 py-10 rounded-md shadow-md">
        <p class="py-1">Adresse : 147 Rue Edmond Michelet, 88130 Charmes.</p>
        <p class="py-1">Email : <a href="mailto:kylianconraux&#64;hotmail.fr">kylianconraux&#64;hotmail.fr</a></p>
        <p class="py-1">Téléphone : <a href="tel:+33667751031">06 67 75 10 31</a></p>
        <p class="py-1">Ou cliquez <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            type="button" data-drawer-target="drawer-bottom" data-drawer-show="drawer-bottom"
            data-drawer-placement="bottom" aria-controls="drawer-bottom-example">ici</button> 👈</p>
      </div>
    </div>
  </section>

  <footer class="bg-gray-200 text-center">
    <p class="">&copy; 2025 Kylian Conraux. Construit avec Angular, Tailwind, Flowbite.</p>
  </footer>


  <!-- CONTACT FORM-->


  <!-- BOTTOM DRAWER -->
  <!-- drawer component -->
  <div id="drawer-bottom"
    class="fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto transition-transform bg-white dark:bg-gray-800 translate-y-full"
    tabindex="-1" aria-labelledby="drawer-bottom-label">
    <button type="button" data-drawer-hide="drawer-bottom" aria-controls="drawer-bottom"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <section id="contact" class="bg-white dark:bg-gray-900">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contactez-moi
        </h2>
        <form action="#" class="space-y-8">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Votre
              email :</label>
            <input type="email" id="email"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:shadow-sm-light"
              placeholder="exemple@gmail.com" required>
          </div>
          <div>
            <label for="objet" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Objet :</label>
            <input type="text" id="objet"
              class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  dark:shadow-sm-light"
              placeholder="Sujet" required>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Message
              :</label>
            <textarea id="message" rows="6"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Message ..."></textarea>
          </div>
          <button type="submit" (click)="checkForm()"
            class="py-3 px-5 flex items-center text-sm font-medium text-center rounded-lg bg-gray-200 sm:w-fit hover:bg-gray-800 hover:text-white transform transition-all duration-300 group gap-2">
            <svg class="group-hover:fill-white transform transition-all duration-300" xmlns="http://www.w3.org/2000/svg"
              height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
              <path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z" />
            </svg> Envoyer
          </button>

        </form>
      </div>
    </section>
  </div>



</div>
<router-outlet />